
.portfolio__header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  padding: 0 2.5rem;

  display: flex;
  align-items: center;
  gap: 3rem;

  background-color: var(--colorWhite);
}

.portfolio__logo {
  display: block;
  width: 7rem;
  height: 7rem;

  background-image: url("../../../assets/img4.png");
  background-size: 7rem;
  background-repeat: no-repeat;
  background-position: center;

  /* border: .1rem dotted black; */
}

.portfolio__header nav {
  position: relative;
}

.portfolio__menu {
  display: flex;
}

.portfolio__menu li {
  width: 16rem;
  height: 4.5rem;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.barSelect {
  display: block;
  width: 16rem;
  min-height: .5rem;
  position: absolute;
  /* transform: translateX(100px); */
  /* right: 0; */
  background-color: var(--colorLightblue);
}