
.portfolio__header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  padding: 0 2.5rem;

  /* display: flex; */
  align-items: center;
  gap: 3rem;

  background-color: var(--colorWhite);
}

.portfolio__header--enabled {
  display: flex;
}

.portfolio__header--disabled {
  display: none;
}

.portfolio__logo {
  display: block;
  width: 7rem;
  height: 7rem;

  background-image: url("../../../assets/logoPortfolio.png");
  background-size: 7rem;
  background-repeat: no-repeat;
  background-position: center;

  /* border: .1rem dotted black; */
}

.portfolio__header nav {
  position: relative;
}

.portfolio__menu {
  display: flex;
}

/* .portfolio__menu li { */
.portfolio__menu_btnSection {
  width: 16rem;
  height: 4.5rem;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.portfolio__menu_btnSection:hover {
  opacity: .8;
  /* cursor: pointer; */
}

.portfolio__menu_btnSection:disabled {
  color: var(--colorBlack);
}

.btn--selected {
  cursor: initial;
}

.barSelect {
  display: block;
  width: 16rem;
  min-height: .5rem;
  position: absolute;
  transition: .2s linear;
  /* transform: translateX(100px); */
  /* right: 0; */
  background-color: var(--colorLightblue);
}

.barSelect--right {
  transform: translateX(16rem);
}

.barSelect--left {
  transform: translateX(0);
}

/* FULL SCREEN */
@media screen and (min-width: 1000px) and (min-height: 590px) {
  .portfolio__header {
    grid-column: 1 / 2;
  }
}
